# CAR PRICE PREDICTION WITH MACHINE LEARNING - Task 3

In [ ]:
# Fetching the data.
!wget "https://raw.githubusercontent.com/amankharwal/Website-data/master/CarPrice.csv"

--2023-04-01 06:01:30--  https://raw.githubusercontent.com/amankharwal/Website-data/master/CarPrice.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26717 (26K) [text/plain]
Saving to: ‘CarPrice.csv’

CarPrice.csv        100%[===================>]  26.09K  --.-KB/s    in 0.002s

2023-04-01 06:01:30 (14.1 MB/s) - ‘CarPrice.csv’ saved [26717/26717]

In [ ]:
import pandas as pd
car_price_df = pd.read_csv("CarPrice.csv")

In [ ]:
car_price_df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
y = car_price_df["price"]

In [ ]:
y

0      13495.0
1      16500.0
2      16500.0
3      13950.0
4      17450.0
        ...
200    16845.0
201    19045.0
202    21485.0
203    22470.0
204    22625.0
Name: price, Length: 205, dtype: float64

In [ ]:
y.shape

(205,)

In [ ]:
car_price_df.isnull()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
car_price_df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [ ]:
car_price_df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [ ]:
X = car_price_df[['symboling', 'CarName', 'fueltype', 'aspiration','doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase','carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype','cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke','compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg']]

In [ ]:
X

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,28
201,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,25
202,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,23
203,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,six,145,idi,3.01,3.40,23.0,106,4800,26,27
204,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,25

In [ ]:
car_price_df.describe()

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [ ]:
car_price_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [ ]:
cols = []
for x in car_price_df.columns :
  if car_price_df[x].dtype == "object":
    cols.append(x)

In [ ]:
cols

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [ ]:
encoded_data = pd.get_dummies(data = car_price_df, columns=cols)

In [ ]:
encoded_data

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,0,0,1,0,0
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0,0,0,0,0,0,0,1,0,0
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,0,0,0,0,0,0,1,0,0
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,0,0,0,0,1,0,0,0,0
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
X.drop(columns = cols, axis = 1, inplace = True)

<ipython-input-18-c1669ee01899>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X.drop(columns = cols, axis = 1, inplace = True)

In [ ]:
X

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28
201,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25
202,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23
203,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27
204,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25

In [ ]:
car_price_df_merged = X.append(encoded_data, ignore_index=True)

<ipython-input-20-abfd216dedda>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  car_price_df_merged = X.append(encoded_data, ignore_index=True)

In [ ]:
car_price_df_merged

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,...,cylindernumber_twelve,cylindernumber_two,fuelsystem_1bbl,fuelsystem_2bbl,fuelsystem_4bbl,fuelsystem_idi,fuelsystem_mfi,fuelsystem_mpfi,fuelsystem_spdi,fuelsystem_spfi
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
406,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
407,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
408,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
409,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [ ]:
X

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28
201,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25
202,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23
203,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27
204,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25

In [ ]:
import tensorflow as tf
X_tensor = tf.constant(X)
y_tensor = tf.constant(y)

In [ ]:
X_tensor[:10], y_tensor[:10]

(<tf.Tensor: shape=(10, 14), dtype=float64, numpy=
 array([[3.000e+00, 8.860e+01, 1.688e+02, 6.410e+01, 4.880e+01, 2.548e+03,
         1.300e+02, 3.470e+00, 2.680e+00, 9.000e+00, 1.110e+02, 5.000e+03,
         2.100e+01, 2.700e+01],
        [3.000e+00, 8.860e+01, 1.688e+02, 6.410e+01, 4.880e+01, 2.548e+03,
         1.300e+02, 3.470e+00, 2.680e+00, 9.000e+00, 1.110e+02, 5.000e+03,
         2.100e+01, 2.700e+01],
        [1.000e+00, 9.450e+01, 1.712e+02, 6.550e+01, 5.240e+01, 2.823e+03,
         1.520e+02, 2.680e+00, 3.470e+00, 9.000e+00, 1.540e+02, 5.000e+03,
         1.900e+01, 2.600e+01],
        [2.000e+00, 9.980e+01, 1.766e+02, 6.620e+01, 5.430e+01, 2.337e+03,
         1.090e+02, 3.190e+00, 3.400e+00, 1.000e+01, 1.020e+02, 5.500e+03,
         2.400e+01, 3.000e+01],
        [2.000e+00, 9.940e+01, 1.766e+02, 6.640e+01, 5.430e+01, 2.824e+03,
         1.360e+02, 3.190e+00, 3.400e+00, 8.000e+00, 1.150e+02, 5.500e+03,
         1.800e+01, 2.200e+01],
        [2.000e+00, 9.980e+01, 1.773e+02, 6.630e+01, 5.310e+01, 2.507e+03,
         1.360e+02, 3.190e+00, 3.400e+00, 8.500e+00, 1.100e+02, 5.500e+03,
         1.900e+01, 2.500e+01],
        [1.000e+00, 1.058e+02, 1.927e+02, 7.140e+01, 5.570e+01, 2.844e+03,
         1.360e+02, 3.190e+00, 3.400e+00, 8.500e+00, 1.100e+02, 5.500e+03,
         1.900e+01, 2.500e+01],
        [1.000e+00, 1.058e+02, 1.927e+02, 7.140e+01, 5.570e+01, 2.954e+03,
         1.360e+02, 3.190e+00, 3.400e+00, 8.500e+00, 1.100e+02, 5.500e+03,
         1.900e+01, 2.500e+01],
        [1.000e+00, 1.058e+02, 1.927e+02, 7.140e+01, 5.590e+01, 3.086e+03,
         1.310e+02, 3.130e+00, 3.400e+00, 8.300e+00, 1.400e+02, 5.500e+03,
         1.700e+01, 2.000e+01],
        [0.000e+00, 9.950e+01, 1.782e+02, 6.790e+01, 5.200e+01, 3.053e+03,
         1.310e+02, 3.130e+00, 3.400e+00, 7.000e+00, 1.600e+02, 5.500e+03,
         1.600e+01, 2.200e+01]])>,
 <tf.Tensor: shape=(10,), dtype=float64, numpy=
 array([13495.   , 16500.   , 16500.   , 13950.   , 17450.   , 15250.   ,
        17710.   , 18920.   , 23875.   , 17859.167])>)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [ ]:
X_train.shape, X_test.shape

((164, 14), (41, 14))

In [ ]:
y_train.shape, y_test.shape

((164,), (41,))

## Model Building

In [ ]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation = "relu"),
    tf.keras.layers.Dense(64, activation = "relu"),
    tf.keras.layers.Dense(32, activation = "relu"),
    tf.keras.layers.Dense(32, activation = "relu"),
    tf.keras.layers.Dense(1, activation = "relu"),
])

In [ ]:
model.compile(loss = tf.keras.losses.mae,
              optimizer = tf.keras.optimizers.Adam(),
              metrics = ["mae"])

In [ ]:
history = model.fit(X_train,
                    y_train,
                    epochs = 100,
                    validation_data = (X_test, y_test))

Epoch 1/100
6/6 [==============================] - 1s 44ms/step - loss: 12767.6016 - mae: 12767.6016 - val_loss: 12467.8838 - val_mae: 12467.8838
Epoch 2/100
6/6 [==============================] - 0s 10ms/step - loss: 11846.0156 - mae: 11846.0156 - val_loss: 11402.6592 - val_mae: 11402.6592
Epoch 3/100
6/6 [==============================] - 0s 11ms/step - loss: 10629.6309 - mae: 10629.6309 - val_loss: 9904.2002 - val_mae: 9904.2002
Epoch 4/100
6/6 [==============================] - 0s 11ms/step - loss: 8906.8486 - mae: 8906.8486 - val_loss: 7813.1235 - val_mae: 7813.1235
Epoch 5/100
6/6 [==============================] - 0s 19ms/step - loss: 6662.7158 - mae: 6662.7158 - val_loss: 5468.4141 - val_mae: 5468.4141
Epoch 6/100
6/6 [==============================] - 0s 10ms/step - loss: 5133.4595 - mae: 5133.4595 - val_loss: 5198.5825 - val_mae: 5198.5825
Epoch 7/100
6/6 [==============================] - 0s 14ms/step - loss: 5037.2173 - mae: 5037.2173 - val_loss: 5807.3271 - val_mae: 5807.3271
Epoch 8/100
6/6 [==============================] - 0s 10ms/step - loss: 5284.7437 - mae: 5284.7437 - val_loss: 5762.2246 - val_mae: 5762.2246
Epoch 9/100
6/6 [==============================] - 0s 10ms/step - loss: 5104.7783 - mae: 5104.7783 - val_loss: 5195.7812 - val_mae: 5195.7812
Epoch 10/100
6/6 [==============================] - 0s 10ms/step - loss: 4842.7949 - mae: 4842.7949 - val_loss: 4947.2539 - val_mae: 4947.2539
Epoch 11/100
6/6 [==============================] - 0s 13ms/step - loss: 4826.6616 - mae: 4826.6616 - val_loss: 4867.1958 - val_mae: 4867.1958
Epoch 12/100
6/6 [==============================] - 0s 13ms/step - loss: 4792.8188 - mae: 4792.8188 - val_loss: 4818.0352 - val_mae: 4818.0352
Epoch 13/100
6/6 [==============================] - 0s 10ms/step - loss: 4737.7148 - mae: 4737.7148 - val_loss: 4768.7358 - val_mae: 4768.7358
Epoch 14/100
6/6 [==============================] - 0s 11ms/step - loss: 4688.3540 - mae: 4688.3540 - val_loss: 4753.4771 - val_mae: 4753.4771
Epoch 15/100
6/6 [==============================] - 0s 14ms/step - loss: 4634.4287 - mae: 4634.4287 - val_loss: 4972.2090 - val_mae: 4972.2090
Epoch 16/100
6/6 [==============================] - 0s 10ms/step - loss: 4716.5332 - mae: 4716.5332 - val_loss: 4997.6294 - val_mae: 4997.6294
Epoch 17/100
6/6 [==============================] - 0s 11ms/step - loss: 4588.1426 - mae: 4588.1426 - val_loss: 4601.8125 - val_mae: 4601.8125
Epoch 18/100
6/6 [==============================] - 0s 10ms/step - loss: 4463.0498 - mae: 4463.0498 - val_loss: 4495.0781 - val_mae: 4495.0781
Epoch 19/100
6/6 [==============================] - 0s 13ms/step - loss: 4425.6636 - mae: 4425.6636 - val_loss: 4433.2725 - val_mae: 4433.2725
Epoch 20/100
6/6 [==============================] - 0s 10ms/step - loss: 4360.4971 - mae: 4360.4971 - val_loss: 4368.2476 - val_mae: 4368.2476
Epoch 21/100
6/6 [==============================] - 0s 10ms/step - loss: 4267.1362 - mae: 4267.1362 - val_loss: 4317.2329 - val_mae: 4317.2329
Epoch 22/100
6/6 [==============================] - 0s 13ms/step - loss: 4215.0039 - mae: 4215.0039 - val_loss: 4425.8789 - val_mae: 4425.8789
Epoch 23/100
6/6 [==============================] - 0s 13ms/step - loss: 4158.8999 - mae: 4158.8999 - val_loss: 4144.8462 - val_mae: 4144.8462
Epoch 24/100
6/6 [==============================] - 0s 14ms/step - loss: 4112.3726 - mae: 4112.3726 - val_loss: 4078.0042 - val_mae: 4078.0042
Epoch 25/100
6/6 [==============================] - 0s 12ms/step - loss: 4000.7366 - mae: 4000.7366 - val_loss: 3958.5952 - val_mae: 3958.5952
Epoch 26/100
6/6 [==============================] - 0s 11ms/step - loss: 3904.2175 - mae: 3904.2175 - val_loss: 3982.1523 - val_mae: 3982.1523
Epoch 27/100
6/6 [==============================] - 0s 13ms/step - loss: 3787.9517 - mae: 3787.9517 - val_loss: 3767.4258 - val_mae: 3767.4258
Epoch 28/100
6/6 [==============================] - 0s 11ms/step - loss: 3717.8083 - mae: 3717.8083 - val_loss: 3670.4614 - val_mae: 3670.4614
Epoch 29/100
6/6 [==============================] - 0s 11ms/step - loss: 3649.2183 - mae: 3649.2183 - val_loss: 3755.4163 - val_mae: 3755.4163
Epoch 30/100
6/6 [==============================] - 0s 13ms/step - loss: 3557.7283 - mae: 3557.7283 - val_loss: 3542.7515 - val_mae: 3542.7515
Epoch 31/100
6/6 [==============================] - 0s 12ms/step - loss: 3481.3247 - mae: 3481.3247 - val_loss: 3436.0430 - val_mae: 3436.0430
Epoch 32/100
6/6 [==============================] - 0s 10ms/step - loss: 3352.9863 - mae: 3352.9863 - val_loss: 3364.0461 - val_mae: 3364.0461
Epoch 33/100
6/6 [==============================] - 0s 10ms/step - loss: 3252.9683 - mae: 3252.9683 - val_loss: 3270.4900 - val_mae: 3270.4900
Epoch 34/100
6/6 [==============================] - 0s 10ms/step - loss: 3195.3967 - mae: 3195.3967 - val_loss: 3219.7539 - val_mae: 3219.7539
Epoch 35/100
6/6 [==============================] - 0s 14ms/step - loss: 3158.9299 - mae: 3158.9299 - val_loss: 3187.5171 - val_mae: 3187.5171
Epoch 36/100
6/6 [==============================] - 0s 10ms/step - loss: 3080.7539 - mae: 3080.7539 - val_loss: 3147.3186 - val_mae: 3147.3186
Epoch 37/100
6/6 [==============================] - 0s 13ms/step - loss: 3127.9558 - mae: 3127.9558 - val_loss: 3115.1245 - val_mae: 3115.1248
Epoch 38/100
6/6 [==============================] - 0s 10ms/step - loss: 3022.0874 - mae: 3022.0874 - val_loss: 3175.9268 - val_mae: 3175.9268
Epoch 39/100
6/6 [==============================] - 0s 13ms/step - loss: 3054.4023 - mae: 3054.4023 - val_loss: 3115.5808 - val_mae: 3115.5808
Epoch 40/100
6/6 [==============================] - 0s 13ms/step - loss: 2986.3276 - mae: 2986.3276 - val_loss: 3023.0093 - val_mae: 3023.0093
Epoch 41/100
6/6 [==============================] - 0s 13ms/step - loss: 2993.1763 - mae: 2993.1763 - val_loss: 3011.3538 - val_mae: 3011.3538
Epoch 42/100
6/6 [==============================] - 0s 13ms/step - loss: 2984.1626 - mae: 2984.1626 - val_loss: 2970.9238 - val_mae: 2970.9238
Epoch 43/100
6/6 [==============================] - 0s 14ms/step - loss: 2974.3047 - mae: 2974.3047 - val_loss: 2939.3882 - val_mae: 2939.3882
Epoch 44/100
6/6 [==============================] - 0s 10ms/step - loss: 2978.0818 - mae: 2978.0818 - val_loss: 2868.6206 - val_mae: 2868.6206
Epoch 45/100
6/6 [==============================] - 0s 14ms/step - loss: 2904.7458 - mae: 2904.7458 - val_loss: 2831.4910 - val_mae: 2831.4910
Epoch 46/100
6/6 [==============================] - 0s 14ms/step - loss: 2916.8252 - mae: 2916.8252 - val_loss: 2770.8066 - val_mae: 2770.8066
Epoch 47/100
6/6 [==============================] - 0s 13ms/step - loss: 2964.0862 - mae: 2964.0862 - val_loss: 2784.5022 - val_mae: 2784.5022
Epoch 48/100
6/6 [==============================] - 0s 13ms/step - loss: 2939.6440 - mae: 2939.6440 - val_loss: 2718.5544 - val_mae: 2718.5544
Epoch 49/100
6/6 [==============================] - 0s 12ms/step - loss: 2958.4800 - mae: 2958.4800 - val_loss: 2730.0374 - val_mae: 2730.0374
Epoch 50/100
6/6 [==============================] - 0s 13ms/step - loss: 2837.5557 - mae: 2837.5557 - val_loss: 2730.6177 - val_mae: 2730.6177
Epoch 51/100
6/6 [==============================] - 0s 13ms/step - loss: 2866.4666 - mae: 2866.4666 - val_loss: 2675.1155 - val_mae: 2675.1155
Epoch 52/100
6/6 [==============================] - 0s 13ms/step - loss: 2844.2363 - mae: 2844.2363 - val_loss: 2672.5137 - val_mae: 2672.5137
Epoch 53/100
6/6 [==============================] - 0s 10ms/step - loss: 2831.7207 - mae: 2831.7207 - val_loss: 2616.3823 - val_mae: 2616.3823
Epoch 54/100
6/6 [==============================] - 0s 13ms/step - loss: 2813.8528 - mae: 2813.8528 - val_loss: 2602.9414 - val_mae: 2602.9414
Epoch 55/100
6/6 [==============================] - 0s 13ms/step - loss: 2830.1296 - mae: 2830.1296 - val_loss: 2574.9827 - val_mae: 2574.9827
Epoch 56/100
6/6 [==============================] - 0s 15ms/step - loss: 2795.5110 - mae: 2795.5110 - val_loss: 2563.2295 - val_mae: 2563.2295
Epoch 57/100
6/6 [==============================] - 0s 10ms/step - loss: 2888.4473 - mae: 2888.4473 - val_loss: 2535.0117 - val_mae: 2535.0117
Epoch 58/100
6/6 [==============================] - 0s 12ms/step - loss: 3050.2847 - mae: 3050.2847 - val_loss: 2640.3242 - val_mae: 2640.3242
Epoch 59/100
6/6 [==============================] - 0s 12ms/step - loss: 2988.9622 - mae: 2988.9622 - val_loss: 2839.0439 - val_mae: 2839.0439
Epoch 60/100
6/6 [==============================] - 0s 20ms/step - loss: 2997.1152 - mae: 2997.1152 - val_loss: 2510.3818 - val_mae: 2510.3818
Epoch 61/100
6/6 [==============================] - 0s 33ms/step - loss: 2844.3750 - mae: 2844.3750 - val_loss: 2571.8677 - val_mae: 2571.8677
Epoch 62/100
6/6 [==============================] - 0s 23ms/step - loss: 2782.9072 - mae: 2782.9072 - val_loss: 2519.7869 - val_mae: 2519.7869
Epoch 63/100
6/6 [==============================] - 0s 29ms/step - loss: 2759.5857 - mae: 2759.5857 - val_loss: 2552.7874 - val_mae: 2552.7874
Epoch 64/100
6/6 [==============================] - 0s 20ms/step - loss: 2817.5103 - mae: 2817.5103 - val_loss: 2478.2385 - val_mae: 2478.2385
Epoch 65/100
6/6 [==============================] - 0s 40ms/step - loss: 2840.7090 - mae: 2840.7090 - val_loss: 2453.7146 - val_mae: 2453.7146
Epoch 66/100
6/6 [==============================] - 0s 20ms/step - loss: 2795.2166 - mae: 2795.2166 - val_loss: 2510.1558 - val_mae: 2510.1558
Epoch 67/100
6/6 [==============================] - 0s 40ms/step - loss: 2820.1704 - mae: 2820.1704 - val_loss: 2553.5803 - val_mae: 2553.5803
Epoch 68/100
6/6 [==============================] - 0s 41ms/step - loss: 2816.6863 - mae: 2816.6863 - val_loss: 2436.3491 - val_mae: 2436.3491
Epoch 69/100
6/6 [==============================] - 0s 28ms/step - loss: 2736.2217 - mae: 2736.2217 - val_loss: 2430.3667 - val_mae: 2430.3667
Epoch 70/100
6/6 [==============================] - 0s 44ms/step - loss: 2739.0457 - mae: 2739.0457 - val_loss: 2455.6270 - val_mae: 2455.6270
Epoch 71/100
6/6 [==============================] - 0s 49ms/step - loss: 2754.6575 - mae: 2754.6575 - val_loss: 2452.5667 - val_mae: 2452.5667
Epoch 72/100
6/6 [==============================] - 0s 68ms/step - loss: 2725.8594 - mae: 2725.8594 - val_loss: 2442.1279 - val_mae: 2442.1279
Epoch 73/100
6/6 [==============================] - 0s 81ms/step - loss: 2883.5610 - mae: 2883.5610 - val_loss: 2428.3611 - val_mae: 2428.3611
Epoch 74/100
6/6 [==============================] - 0s 64ms/step - loss: 2799.9819 - mae: 2799.9819 - val_loss: 2523.9207 - val_mae: 2523.9207
Epoch 75/100
6/6 [==============================] - 0s 68ms/step - loss: 2797.8267 - mae: 2797.8267 - val_loss: 2461.7339 - val_mae: 2461.7339
Epoch 76/100
6/6 [==============================] - 0s 32ms/step - loss: 2736.4172 - mae: 2736.4172 - val_loss: 2500.1750 - val_mae: 2500.1750
Epoch 77/100
6/6 [==============================] - 0s 38ms/step - loss: 2799.8521 - mae: 2799.8521 - val_loss: 2423.7766 - val_mae: 2423.7766
Epoch 78/100
6/6 [==============================] - 0s 46ms/step - loss: 2704.5852 - mae: 2704.5852 - val_loss: 2402.8728 - val_mae: 2402.8728
Epoch 79/100
6/6 [==============================] - 0s 28ms/step - loss: 2706.2139 - mae: 2706.2139 - val_loss: 2404.4539 - val_mae: 2404.4539
Epoch 80/100
6/6 [==============================] - 0s 35ms/step - loss: 2689.5520 - mae: 2689.5520 - val_loss: 2464.5530 - val_mae: 2464.5530
Epoch 81/100
6/6 [==============================] - 0s 25ms/step - loss: 2749.0759 - mae: 2749.0759 - val_loss: 2408.6697 - val_mae: 2408.6697
Epoch 82/100
6/6 [==============================] - 0s 18ms/step - loss: 2730.7952 - mae: 2730.7952 - val_loss: 2399.9690 - val_mae: 2399.9690
Epoch 83/100
6/6 [==============================] - 0s 23ms/step - loss: 2777.3796 - mae: 2777.3796 - val_loss: 2476.7473 - val_mae: 2476.7473
Epoch 84/100
6/6 [==============================] - 0s 24ms/step - loss: 2787.5984 - mae: 2787.5984 - val_loss: 2399.0925 - val_mae: 2399.0925
Epoch 85/100
6/6 [==============================] - 0s 23ms/step - loss: 2779.2913 - mae: 2779.2913 - val_loss: 2445.1426 - val_mae: 2445.1426
Epoch 86/100
6/6 [==============================] - 0s 50ms/step - loss: 2665.9788 - mae: 2665.9788 - val_loss: 2448.4631 - val_mae: 2448.4631
Epoch 87/100
6/6 [==============================] - 0s 18ms/step - loss: 2822.7898 - mae: 2822.7898 - val_loss: 2384.6978 - val_mae: 2384.6978
Epoch 88/100
6/6 [==============================] - 0s 18ms/step - loss: 2800.1494 - mae: 2800.1494 - val_loss: 2478.1306 - val_mae: 2478.1306
Epoch 89/100
6/6 [==============================] - 0s 28ms/step - loss: 2712.9619 - mae: 2712.9619 - val_loss: 2405.3252 - val_mae: 2405.3252
Epoch 90/100
6/6 [==============================] - 0s 20ms/step - loss: 2710.5364 - mae: 2710.5364 - val_loss: 2410.2114 - val_mae: 2410.2114
Epoch 91/100
6/6 [==============================] - 0s 20ms/step - loss: 2697.7595 - mae: 2697.7595 - val_loss: 2372.9138 - val_mae: 2372.9138
Epoch 92/100
6/6 [==============================] - 0s 29ms/step - loss: 2692.8943 - mae: 2692.8943 - val_loss: 2365.8286 - val_mae: 2365.8286
Epoch 93/100
6/6 [==============================] - 0s 32ms/step - loss: 2708.2483 - mae: 2708.2483 - val_loss: 2423.6631 - val_mae: 2423.6631
Epoch 94/100
6/6 [==============================] - 0s 17ms/step - loss: 2746.4978 - mae: 2746.4978 - val_loss: 2360.5598 - val_mae: 2360.5598
Epoch 95/100
6/6 [==============================] - 0s 18ms/step - loss: 2671.0896 - mae: 2671.0896 - val_loss: 2365.6570 - val_mae: 2365.6570
Epoch 96/100
6/6 [==============================] - 0s 27ms/step - loss: 2750.2412 - mae: 2750.2412 - val_loss: 2367.9790 - val_mae: 2367.9790
Epoch 97/100
6/6 [==============================] - 0s 40ms/step - loss: 2787.4207 - mae: 2787.4207 - val_loss: 2572.5813 - val_mae: 2572.5813
Epoch 98/100
6/6 [==============================] - 0s 26ms/step - loss: 2728.8042 - mae: 2728.8042 - val_loss: 2504.3970 - val_mae: 2504.3970
Epoch 99/100
6/6 [==============================] - 0s 29ms/step - loss: 2812.9980 - mae: 2812.9980 - val_loss: 2391.3108 - val_mae: 2391.3108
Epoch 100/100
6/6 [==============================] - 0s 48ms/step - loss: 2934.1340 - mae: 2934.1340 - val_loss: 2617.0239 - val_mae: 2617.0239

In [ ]:
!wget https://raw.githubusercontent.com/nish16111/DeepLearning_TensorFlow/main/reused_functions.py

--2023-04-01 06:03:59--  https://raw.githubusercontent.com/nish16111/DeepLearning_TensorFlow/main/reused_functions.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8702 (8.5K) [text/plain]
Saving to: ‘reused_functions.py.1’

reused_functions.py 100%[===================>]   8.50K  --.-KB/s    in 0s

2023-04-01 06:03:59 (57.6 MB/s) - ‘reused_functions.py.1’ saved [8702/8702]

In [ ]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 128)               1920

 dense_6 (Dense)             (None, 64)                8256

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 32)                1056

 dense_9 (Dense)             (None, 1)                 33

=================================================================
Total params: 13,345
Trainable params: 13,345
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Evaluating on Test Data.
model.evaluate(X_test, y_test)

2/2 [==============================] - 0s 13ms/step - loss: 2617.0239 - mae: 2617.0239

[2617.02392578125, 2617.02392578125]

In [ ]:
y_pred = model.predict(X_test)
y_pred[:10]

2/2 [==============================] - 0s 5ms/step

array([[21857.389],
       [18341.678],
       [10051.94 ],
       [13427.359],
       [30999.053],
       [ 8133.636],
       [10029.57 ],
       [ 9088.702],
       [10896.136],
       [ 9447.586]], dtype=float32)

### Evaluating on Test data

In [ ]:
tf.keras.metrics.mean_absolute_percentage_error(y_true = y_test,
                                                y_pred = y_pred)

<tf.Tensor: shape=(41,), dtype=float32, numpy=
array([121.35452 ,  91.17156 ,  33.49775 ,  51.988266, 203.73454 ,
        30.3849  ,  33.406918,  31.055393,  37.259453,  31.707403,
        47.714024,  31.715832,  62.96626 ,  55.141514, 239.93352 ,
        30.270836,  46.148216,  84.08686 ,  37.346664,  34.177963,
        40.538677, 106.94826 ,  30.535406,  39.278492,  31.521505,
       137.90424 ,  55.455135,  84.28335 ,  30.318022,  72.66005 ,
       176.33597 ,  32.02957 ,  32.82908 ,  85.3705  ,  30.883041,
       174.44264 ,  50.202614,  33.071552,  33.55166 ,  93.23522 ,
        33.688377], dtype=float32)>